body {
    background-color: #b89260;
}

a {
    color: black;
}

.column-blob {
    display: block;
    width: 300px;
    height: 700px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #d8b78b;
    overflow: scroll;
}

.sub-div {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px dashed black;
}

#left-column {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 700px;
}

#navbar {
    float: top;
    width: 100%;
    flex: 1;
}

#pages-div {
    padding: 0px;
    text-align: center;
    gap: 8px;
}

.nav-div {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #eecea4;
    padding: 5px;
}

.nav-div:hover {
    border: 1px dashed black;
}

#inventory {
    width: 100%;
    flex: 2;
}

#log {
    float: right;
    height: 700px;
}

#userLog {
    overflow-y: auto;
    padding: 15px;
}

h3.heading {
    text-align: center;
    height: 15px;
    color: black;
}

p {
    color: black;
}

.flex-div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
}

.inventorySectionHeading {
    text-align: center;
    text-decoration: underline;
}