body {
    background-color: #b89260;
}

#inventory {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    height: 700px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #d8b78b;
    overflow: hidden;   
}

#log {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #d8b78b;
}

#introduction {
    display: inline-flex;
    flex-direction: column;
    width: 58%;
    padding: 5px;
}

#logTitleDiv {
    height: 25px;
}

#userLog {
    overflow: scroll;
    height: 650px;
    padding: 0px 15px;
}

h3.heading {
    text-align: center;
    height: 15px;
    color: black;
}

p {
    color: black;
}

.flex-div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
}

.inventoryCategory {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px dashed black;
}

.inventorySectionHeading {
    text-align: center;
    text-decoration: underline;
}

.paintColours {
    display: inline-flex;
}

#house {
    float: right;
    display: flex;
}

#houseDiv {
    float: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.houseGrid {
  background-color: #ddd;
  border: 1px solid #000;
}